.center {
  text-align: center;
}

p{
  font-family: courier;
  font-size: 20pt;
  color:white;
}

h2{
  font-family: courier;
  font-size: 40pt;
  color:white;
}

header{
  background-color: #7d7d7d;
}

/*body {
  background-image: url('images/nature-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}*/
